.main{

		width:1200px;
		border:1px solid black;
		text-align:center ;
		margin: auto;
		background-color:black;
}

.td_one{
		width:25%;
		height:100%;

}


.td_two{

	width:25%;

}

.td_three{

	width: 25%;

}


.td_four{

	width:25%;
}


a{
	 text-decoration:none;
	 background-color:black;
	 color:white;
}

a:hover{
	 background-color:#04d7ff;
	 color:red;
	 border-radius:4px;
}